.logout-container{
    width: 90vw;
    height: 80vh;
    background: #fff;
    color: #222;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 2rem;
}

.info-container{
    position: absolute;
    top: 32vh;
    left: 25vw;
    font-size: 2em;
}

.logout-container ion-icon{
    font-weight: lighter;
    font-size: 27em;
}

.log-out{
    position: absolute;
    bottom: 8vh;
    right: 15vw;
    font-size: 2em;
}

.info-container p,.log-out  p{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding-bottom: 1rem;
}

.info-container ion-icon,.log-out ion-icon{
    font-size: 1em;
}

@media only screen and (min-width:620px) and (max-width: 1280px) {

    .logout-container {
        width: 90vw;
        height: 55vh;
        background: #fff;
        color: #222;
        border-radius: 1rem;
        box-shadow: 0 0 10px rgb(0 0 0 / 50%);
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-top: 2rem;
    }

    .info-container {
        position: absolute;
        top: 25vh;
        left: 38vw;
        font-size: 2em;
    }

    .log-out {
        position: absolute;
        top: 58vh;
        right: 18vw;
        font-size: 2em;
    }

}

@media only screen and (min-width:1280px) {

    .info-container {
        position: absolute;
        top: 33vh;
        left: 43vw;
        font-size: 2em;
    }

}