.purchases{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem;
}

.purchase-item{
    width: 300px;
    background: #fff;
    color: #222;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    margin: 1rem;
}

.header-date{
    border-bottom: 1px solid #222;
}

.purchase-product{
    margin: 1rem;
    padding: .5rem;
}

.purchase-product-container{
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    letter-spacing: .05em;
}

@media only screen and (min-width:620px) and (max-width: 1280px) {

    .purchases-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

}

@media only screen and (min-width:1280px) {

    .purchases-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }

}