
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 900;
  font-family: 'Bebas Neue', cursive;
}

body::-webkit-scrollbar{
  width: .2rem;
  background: transparent;
}

body::-webkit-scrollbar-thumb{
  background: #222;
  border-radius: 1rem;
}

a{
  text-decoration: none;
  color: #222;
}

input{
  font-family: 'Roboto', sans-serif;
}

button{
  all: unset;
  font-size: 1.3em;
  letter-spacing: .2em;
  text-align: center;
  text-transform: uppercase;
  padding: 1rem .8rem 1rem 1rem;
  border-radius: 1rem;
  background: #222;
  color: #FAFBFD;
}

.App{
  height: auto;
}

.dayBG{
  background: #FAFBFD;
  color: #222;
  transition: 0.5s;
}

.nightBG{
  background: #222;
  color: #FAFBFD;
  transition: 0.5s;
}

.cursor{
  cursor: pointer;
}

.container{
  padding-top: 12vh;
}

.price{
  color: #222;
  padding: 1rem 1.5rem;
  font-size: 1.5em;
}

.none{
  display: none;
}

.img img{
  max-width: 100%;
  height: 100%;
}

.price span{
  color: #808080;
  font-size: 1em;
}

@media only screen and (min-width:620px) and (max-width: 1280px){
    
  input{
    font-size: 1.8em;
  }

}